<!DOCTYPE html>
<html>
	<head>
		<title>Wines Client</title>
	</head>
	<body>
		<form action="https://natural-bus-135323.appspot.com/wines" method="GET">
			<p>
				<h3>GET WINE BY NAME</h3>
				NAME: <input type=text name="name"><br>
				<input type=submit value="SEARCH">
			</p>
		</form>
		<form action="https://natural-bus-135323.appspot.com/wines" method="GET">
			<p>
				<h3>GET WINE BETWEEN PRICES</h3>
				MIN: <input type=text name="min"><br>
				MAX: <input type=text name="max"><br>
				<input type=submit value="SEARCH">
			</p>
		</form>
		<form action="https://natural-bus-135323.appspot.com/wines" method="GET">
			<p>
				<h3>GET ALL WINES OR FILTERED WINES </h3>
				TIPO: <input type=text name="type"><br>
				<input type=submit value="SEARCH">
			</p>
		</form>
		<form action="https://natural-bus-135323.appspot.com/" method="GET">
			<p>
				<h3>SHOW CARTS</h3>
				EMAIL: <input type=text name=ClientID size=70><br>
				<input type=submit value="SEARCH">
			</p>
		</form>
	</body>	
</html>



